header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}
header h2{
    color: #fff;
    font-size: clamp(1.5rem, 3vw, 1.8rem);
    font-weight: 500;
    text-transform: capitalize;
}
header .user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
header .user-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}